*{
    margin: 0%;
    padding: 0;
    background-color:rgb(161, 57, 57);
}
body{
    margin-left:500px;
    margin-top:250px;
}
button{
    border: 2px soliid black;
    transition: all .55s ease;
}
button:hover{
    color: #4d9559;
    border-bottom: 2px solid whitesmoke;
}